<main class="form-signin">
    <form>
      <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal" class="d-flex justify-content-center py-3"> Login</h1>
  
      <div class="form-floating">
        <label for="floatingInput" class="d-flex justify-content-center py-3" >Email address</label>
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required pattern="\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b">
      </div>
      <div class="form-floating">
        <label for="floatingPassword" class="d-flex justify-content-center py-3" >Password</label>
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      </div>
      <br>
      <!-- <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div> -->
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
  </main>