<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a routerLink="/menu" class="nav-link">Menu</a></li>
        <li class="nav-item"><a routerLink="/reserve" class="nav-link">Reserve</a></li>
        <li class="nav-item"><a routerLink="/checkout" class="nav-link">Checkout</a></li>
        <li class="nav-item"><a routerLink="/login" class="nav-link">Login shortcut for testing</a></li>
      </ul>
    </header>
</div>
