<div style="width: 100%; margin: auto;">
    <full-calendar [options]="calendarOptions" [deepChangeDetection]="true"></full-calendar>
    <br>
    <form #reservationForm="ngForm" (submit)="onFormSubmit()">
        <div class="form-group" class="centerflex">
            <p>Time:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <input type="time" name="time" class="form-control" style="width: 150px; " [(ngModel)]="reservationModel.start"
            #time="ngModel" [class.is-invalid]="time.invalid && time.touched" 
            min="11:00" max="21:00" required>
        </div>
        <div class="form-group" class="centerflex">
            <p>Party size:&nbsp;&nbsp;</p>
            <select name="party" class="form-control medium gfield_select" style="width: 150px;" [(ngModel)]="reservationModel.seats"
            #party="ngModel" [class.is-invalid]="party.invalid && party.touched"
            required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
        </div>
        <br>
        <div class="centerflex">
        <input [disabled]="reservationForm.invalid" class="align-items-center" type="submit" value="Reserve" class="btn btn-primary">
        </div>
    </form>
    
</div>