.center { text-align: center; }

body { background-color: #cde7cf; }

        table, th, td {
            border: 1px solid black;
             padding: 5px;
             border-collapse: separate;
              border-spacing: 1px;
              border-radius: 1px;
             margin-left:auto;
             margin-right:auto;
            }
         tr:nth-child(odd) {background-color: #fafdff;}
         tr:nth-child(even) {background-color: #dae6ed;}

a:hover {background: #6f6ecc; color: rgb(255, 255, 255)}
	
.menu { text-align: center;  width: 60% } 

.menuitem { text-align: center; width: 15% }

.menupipe { width: 1% }

.nav-item > .active > a { 
    background-color: rgb(97, 224, 193) ; 
}

.active { 
    background-color: rgb(97, 224, 193) ; 
}

.centerflex {
    display: flex;
    justify-content: center;
  }